
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
   
    
}

/* Global styles */

body {
    background-color: black;
    background-image: url("../images/revene.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Makes the body take the full viewport height */
}


html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:rgb(4, 6, 4);
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    font-size: 100%;
    display: flex;
}

.nav-links li a{
    margin-left: 20px;
    transition: all 0.3s ease;
}

.nav-links li a {
    color: white;
    transition: color 0.3s ease;
}

.nav-links li a:active {
    text-decoration: underline;
    color: #FF3D00;
}


.active {
    position: relative;
    padding: 0 10px; 
}

.active a {
    background-color: #FF3D00; 
    color: white;
    border-radius: 10px; /* Create a circular shape */
    padding: 5px 10px; 
    text-decoration: none;
}





/* for main page */


.contentMain {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    margin: auto;
    margin-top: 2%;
    width: 80%; 
    max-width: 1200px; /* Maximum width for larger screens */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px; /* Rounded corners */
    
}

#about {
    text-align: left;
    padding: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pfp {
    border: 1px solid #ddd; /* Border around the image */
    border-radius: 50%; /* Make the image round */
    width: 200px; 
    height: 200px;
}

#resumePic{
    size: 100%;
    border: 1px solid black;
}

.mainP {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}



/* for contact me */

#contentForm {
    text-align: center;
    gap: 20px;
    margin: auto;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 80px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#feedbackP{
    margin-bottom: 2%;
}
/* Contact form styles */
#formTitle {
    font-size: 36px;
    margin-bottom: 20px;
}

.formLable {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  
}


textarea {
    height: 150px;
}

input[type="submit"] {
    background-color: #FF3D00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FF3D00; 
}
/* projects */
.centered {
    margin: 0 auto;
    padding: 0 1em;
}

.projects{
    margin: 2%;
}

figure {
    margin: 0;
    padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}

.button {
    padding: 0.5em 1em;
    background-color: #FF3D00;
    color: white;
    border: none;
    border-radius: 0.25rem;
    opacity: 1%;  
}
.card a:hover .card-actions .button {
    opacity: 1;   
    transition: opacity 1s;
    
}



.container {
  max-width: 1400px;
  margin: 1em auto;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

.card {
	background-color: rgba(255, 255, 255, 0.8);
	margin-bottom: 2em;	
    width: 24%;
    flex: 0 1 auto;
    
    
    padding: 0;
}

.card a {
	color: black;
	text-decoration: none;
}

.card:hover{
    filter: drop-shadow(0 0px 4px black) saturate(130%);
}
.card a:hover{
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
    
}


.card-content p {
	padding: 0.5em 1.4em 0 1.4em;
	font-size: 90%;  
      
}

.card-actions {
	padding: 0.5em 1.4em;
	font-size: 90%;       
}

.projImg{
    width:100%;
    height: 18em;
}

/* end of projects */


/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px; 
       
    }
}

/* Media query for larger screens */
@media screen and (min-width: 1200px) {
    body {
        font-size: 24px; 
    }
    .mainP{
        font-size: 20px;
    }
    #pfp{
        height:225px;
        width: 225px;
    }
}

@media only screen and (max-width:480px)
{
    
    .contentMain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto; /* Define the rows for each div */
        gap: 20px;
        margin: auto;
        width: 80%;
        max-width: 1200px; /* Maximum width for larger screens */
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px; /* Rounded corners */
      }
      
      #about {
        grid-row: 1;
      }
      
      #pfpMain {
        grid-row: 2;
      }
      
      #educationDiv {
        grid-row: 3;
      }
      #resumeDiv {
        grid-row: 4;
      }
    .card {
        width: 100%;
    }
}

/* styles for tablet screens */
@media only screen and (min-width: 481px)
and (max-width: 768px)
{
    .card {
       width: 48%; 
    }
    
}