/* Global Styles */

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

    background-color: #f4f4f4; /* Background color for the entire page */
}

/* Header Styles */
nav {
    margin: 0;
    background-color: #333;
    color: #fff;
    padding: 20px 0; /* Increased padding for better spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar h2 {
    margin: 0;
    padding: 0;
    font-family: 'Antic Didone', serif;
    font-size: 36px; /* Adjusted font size for the artist's name */
    text-align: center;
    color: #fff;
}

#navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 2%;
}

#navList li {
    display: inline;
    margin-right: 20px;
}

#navList li:last-child {
    margin-right: 0;
}

#navList li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s; /* Color transition on hover */
}

#navList li a:hover {
    color: #E0115F; /* Change color on hover */
}

.fa-instagram {
    font-size: 24px;
    color: #E0115F;
    text-decoration: none;
    margin-right: 2%;
}

/* Intro Styles */

#intro{
    background-image: url("Images/backgroundTop.jpg");
    background-size:contain;
    
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0;
    padding: 10%;
    
}

#intro h1{
    margin: 0;
    font-size: 30px;
}

#intro p{
    margin: 0;
}

/* Home Section Styles */
#home {
    margin: 0;
    padding: 40px 0;
    text-align: center;
    background-color: #f4f4f4; /* Background color for the home section */
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
    color: #666;
}

/* Process Section Styles */

#processSec{
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
}
#processSec h1{
    margin-left: 5%;
    padding-top: 2%;
}

#process {
    display: grid;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0;
    text-align: center; /* Center-align the content */
    
}

#process h1 {
    font-size: 36px; 
    margin-bottom: 20px; /* Increased margin for better spacing */
    color: #333; /* Darker text color for better readability */
}

#process p {
    font-size: 18px; /* Adjusted font size for content */
    line-height: 1.5; /* Improved line spacing for readability */
    color: #666; /* Slightly darker text color for better contrast */
}

#process ol {
    text-align: left; /* Align the list items to the left */
    padding-left: 20px; /* Add left padding to the list */
}

#process ol li {
    font-size: 16px; /* Adjusted font size for list items */
    color: #444; /* Slightly darker text color for better contrast */
}

#process ol li strong {
    color: #333; /* Darker text color for strong elements */
}
 






/* Gallery Section Styles */
.gallary {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#gallery h2{
    margin-left: 5%;
    margin-top: 2%;
}

.painting {
    background-color: #fff;
    margin-bottom: 20px;
    width: 24%;
    flex: 0 1 auto;
    padding: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added box shadow for a card effect */
    transition: transform 0.2s; /* Smooth transform transition on hover */
}

.painting:hover {
    transform: scale(1.05); /* Slight scale increase on hover for a card effect */
}

.projImg {
    width: 100%;
    height: auto;
    display: block; /* Remove extra space under the image */
}

/* Contact Form Styles */
#contact {
    background-image: url("Images/formBackground.jpg");
    background-attachment: fixed;
    padding: 40px 0;
    text-align: center;
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border-radius: 4px;
    
}

.contact-form h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.form-group {
    margin-right: 5%;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-group textarea {
    resize: vertical; /* Allow vertical resizing of the textarea */
}

.form-group button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #E0115F; /* Change background color on hover */
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 2%;
    text-align: center;
}

.footer-content {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.social-media a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 24px;
    transition: color 0.3s;
}

.contact-info p {
    margin: 0;
    display: inline;
}

.copyright {
    margin-top: 10px;
}


/* Mobile Menu Styles */
.mobile-menu {
    display: none; /* Set initial display to "none" */
    background-color: #333;
    position: absolute;
    top: 60px; /* Adjust the top position to align with your navbar */
    right: 0;
    width: 15%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 80%;
    text-align: center;
    border-radius: 10px;
    
}

.mobile-menu.active {
    display: block;
}

.mobile-menu ul {
    list-style-type: none;
    padding: 0;
}

.mobile-menu li {
    padding: 10px 0;
}

.mobile-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.menu-button {
    background-color: transparent;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    font-size: 16px; 
    color: #fff;
    margin-left: 5%;
    display: none; 
}


/* Media query for larger screens */
@media screen and (min-width: 1400px) {
    body {
        font-size: 24px; 
    }
    #intro{
    background-image: url("Images/backgroundTop.jpg");
    background-size:cover;
    
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0;
    padding: 10%;
    background-position: 80%;
    }
    
    }
    @media screen and (max-width: 600px) {
        body {
            font-size: 14px; 
        }
        
    }

    @media screen and (max-width: 480px) {
        .menu-button {
            display: block; /* Show the button on small screens */
        }
    
        /* Show the mobile menu when the button is clicked */
        .mobile-menu.active {
            display: block;
        }
    
        /* Hide the desktop navigation links on small screens */
        #navList {
            display: none;
        }
    }
    
/* styles for tablet screens */
@media only screen and (min-width: 481px)
and (max-width: 768px)
{
    .painting {
       width: 48%; 
    }
    
    
}